@font-face {
    font-family: Gatwick-Bold;
    src: url("../../../src/assets/fonts/Gatwick-Bold.otf");
}
@font-face {
    font-family: Gatwick-Light;
    src: url("../../../src/assets/fonts/Gatwick-Ultralight.otf");
}
@font-face {
    font-family: Breathing;
    src: url("../../../src/assets/fonts/Breathing.ttf");
}
@font-face {
    font-family: Code-Bold;
    src: url("../../../src/assets/fonts/CODE\ Bold.otf");
}
@font-face {
    font-family: Code-Light;
    src: url("../../../src/assets/fonts/CODE\ Light.otf");
}
@import "./swiper.css";
@import "./social.css";
/* html {
    font-size: 62.5%;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-white {
    color: #fff6ea;
}

.text-orange {
    color: #b88917;
}

.text-blue {
    color: #0741ad;
}

.text-align-center {
    text-align: center;
}

.w-5 {
    width: 5rem;
}

.w-3 {
    width: 3rem;
}

.nowrap {
    white-space: nowrap;
}

.about-container {
    margin: 0 auto;
    background-color: #0741ad;
    width: 80%;
    border-radius: 1rem;
}

.truncate-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 2rem;
    max-height: 90px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.section-divider {
    width: 100%;
    background-color: #b88917;
    height: 0.45rem;
    margin: 5rem 0;
}
.my-10 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.header-info {
    background: #282120;
    width: 100%;
    height: 5.45rem;
    margin: 0 0 0 0;
    text-align: center;
}

.header-top {
    background: #282120;
    width: 100%;
    height: 2.45rem;
    margin: 0 0 0 0;
    text-align: center;
    border-bottom: #b88917 3px;
    border-style: solid;
}

.profile-icons {
    float: right;
    margin: -6.9rem -4rem 0rem 0rem;
    font-size: 2.05rem;
}

.absolute {
    position: absolute;
    top: 5%;
}

.zIndex {
    z-index: -100;
}

.profile-menu-icons {
    font-size: 2.05rem;
}

.profile-menu-button {
    padding: 0 1rem;
}

.footer-bg {
    background: rgb(0, 0, 0);
    background: #282120;
}

.button-link {
    background-image: url("../../data/images/others/btn-signup.webp");
}

.w-btn {
    padding: 1rem 1rem 2.1rem 1rem;
    float: right;
}

@layer base {
    body {
        @apply font-code;
    }
    .wrapper {
        @apply text-orange;
    }
    select {
        @apply text-black;
    }
    a {
        @apply transition-all;
    }
    p {
        @apply text-body mb-4 last:mb-0 text-white;
    }
    h1 {
        @apply font-breathing text-xl sm:text-1xl md:text-1xl lg:text-6rem xl:text-4xl;
    }
    h2 {
        @apply font-breathing text-28base sm:text-32base md:text-xl xl:text-lg;
    }
    h3 {
        @apply font-breathing text-base md:text-md;
    }
    h4 {
        @apply font-breathing text-18base;
    }
    h5 {
        @apply text-base;
    }
    h6 {
        @apply text-sm;
    }
}

@layer components {
    .container-50 {
        width: 50%;
        text-align: center;
        margin: 0 auto;
    }
    .container-75 {
        width: 75%;
        text-align: center;
        margin: 0 auto;
    }
}

@layer utilities {
    @variants responsive {
        .text-shadow {
            text-shadow: 1px 1px 0px #b88917;
        }
    }
    @variants responsive {
        .odd {
            display: none;
        }
        .banana2 {
            background: red;
        }
    }
}
@layer utilities {
    .mobile-menu-open {
        @apply visible opacity-100;
    }
    .mobile-menu-open .OffCanvasContent {
        @apply visible opacity-70;
    }
    .mobile-menu-open .site-mobile-menu {
        @apply translate-x-0;
    }
    .our-team-info {
        background-image: url(../../data/images/others/tam-text-shape.webp);
        @apply bg-cover left-0 right-0;
    }
    .our-team-card:hover .our-team-info,
    .player-card:hover .our-team-info {
        background-image: url(../../data/images/others/tam-text-shape2.webp);
        @apply bg-cover;
    }
    .players-card-info {
        background-image: url(../../data/images/others/tam-text-shape2.webp);
        @apply bg-cover;
    }
    .single-funfact-item:nth-child(1)::before {
        @apply hidden xs:block;
    }
    .single-funfact-item:nth-child(2)::before {
        @apply hidden md:block;
    }
    .single-funfact-item:nth-child(3)::before {
        @apply hidden xs:block;
    }
    .single-funfact-item:nth-child(1) .counterup {
        @apply text-yollow-80;
    }
    .single-funfact-item:nth-child(2) .counterup {
        @apply text-turquoise;
    }
    .single-funfact-item:nth-child(3) .counterup {
        @apply text-punch;
    }

    .blog-post-description h3,
    .blog-post-description h4,
    .blog-post-description h5,
    .blog-post-description h6 {
        @apply font-bold mb-5;
    }
    .blog-post-description ol {
        @apply mb-8 mt-8 last:mb-0;
    }
    .blog-post-description ol li {
        @apply px-6 py-4 mb-4 last:mb-0 border-secondary-90 bg-secondary-100 transition-all border-2 border-solid block rounded-md;
    }
    /*  */
    .breadcrumb-wrap .gatsby-image-wrapper-constrained {
        width: 100%;
    }
    .breadcrumb__title {
        @apply text-32base md:text-2xl text-shadow font-breathing;
    }
    .breadcrumb__list {
        @apply mt-5;
    }
    .breadcrumb__separator {
        @apply px-2;
    }
    .breadcrumb__list__item {
        @apply inline-block uppercase font-bold hover:text-primary;
    }
    .breadcrumb__link__active {
        @apply text-primary pointer-events-none;
    }
    .align-middle {
        vertical-align: middle !important;
    }
    .tab-conversation.active > a {
        color: #ffff !important;
    }
    .post-content .post-message p,
    .comment-count {
        @apply text-white;
    }
}

@media (min-width: 319px) {
    .container,
    .container-sm {
        max-width: 540px;
    }
    .logo {
        width: 20%;
    }
    .sign-up-section {
        background: #fff6ea;
        padding: 1rem;
        border-radius: 2rem;
        width: 100%;
        float: right;
        opacity: 88%;
        margin-top: 2rem;
    }
    p {
        @apply text-body mb-4 last:mb-0 text-white;
        font-size: 0.6rem;
    }
    .landing-page {
        height: 27rem;
    }
}
@media (min-width: 768px) {
    .container,
    .container-md,
    .container-sm {
        max-width: 920px;
    }
    .logo {
        width: 20%;
    }
    .sign-up-section {
        background: #fff6ea;
        padding: 2rem;
        border-radius: 2rem;
        width: 60%;
        float: right;
        opacity: 88%;
        margin-top: 6rem;
    }
    p {
        @apply text-body mb-4 last:mb-0 text-white;
        font-size: 0.7rem;
    }
    .landing-page {
        height: 36rem;
    }
}
@media (min-width: 992px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 1060px;
    }
    .logo {
        width: 15%;
    }
    .sign-up-section {
        background: #fff6ea;
        padding: 2rem;
        border-radius: 2rem;
        width: 60%;
        float: right;
        opacity: 88%;
        margin-top: 17rem;
    }
    p {
        @apply text-body mb-4 last:mb-0 text-white;
        font-size: 1rem;
    }
    .landing-page {
        height: 55rem;
    }
}
@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1340px;
    }
    .logo {
        width: 15%;
    }
    .sign-up-section {
        background: #fff6ea;
        padding: 2rem;
        border-radius: 2rem;
        width: 60%;
        float: right;
        opacity: 88%;
        margin-top: 25rem;
    }
    .landing-page {
        height: 70rem;
    }
}
@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1520px;
    }
    .logo {
        width: 15%;
    }
    .sign-up-section {
        background: #fff6ea;
        padding: 2rem;
        border-radius: 2rem;
        width: 60%;
        float: right;
        opacity: 88%;
        margin-top: 20rem;
    }
    p {
        @apply text-body mb-4 last:mb-0 text-white;
        font-size: 1.45rem;
    }
    .landing-page {
        height: 70rem;
    }
}
@media (min-width: 2250px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 2500px;
    }
    .logo {
        width: 15%;
    }
    .sign-up-section {
        background: #fff6ea;
        padding: 5rem;
        border-radius: 2rem;
        width: 60%;
        float: right;
        opacity: 88%;
        margin-top: 35rem;
    }
    p {
        @apply text-body mb-4 last:mb-0 text-white;
        font-size: 2.35rem;
    }
    .landing-page {
        height: 125rem;
    }
}

.primary-orange {
    color: #b88917;
}

.primary-blue {
    color: #0741ad;
}

.primary-white {
    color: #fff6ea;
}

.primary-pink {
    color: #e6c2bf;
}

.primary-yellow {
    color: #fad02c;
}

.primary-brown {
    color: #282120;
}

.bg-primary-brown {
    background-color: #282120;
    border-top: #b88917 4px;
    border-style: double;
}

.border-secondary-90 {
    color: #fff6ea;
}

.left {
    float: left;
}

.right {
    float: right;
}

.relative {
    position: relative;
}

.text-primary-white {
    color: #fff6ea;
}
